li{
    margin-left: 4rem;
    text-decoration: none;
    list-style: none;
    line-height: 3;
    font-size: 20px;
    font-family: Calibri;
    font-weight: 540;
   


}




.capture{
    margin-top: 0;
}
.image{
  float: right;
  margin-top: 2rem;
  height: 30rem;
  width: 58rem;
  margin-right: 15rem;
  

}

