.navbar {
    background-color: white;
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
    height: 5rem;

}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    font-size: 3rem;
    margin-left: 5rem;
}
.navbar-logo:hover{
    color: blueviolet;
}

.nav-elements {
    display: flex;
    margin-left: 10rem;
}

.nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-left: 30px;



}
.nav-item:hover{
    border-bottom: 2px solid black;
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-right: 15rem;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
   


}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid black ;
    padding: 4px 10px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
   
    
  
}

.search-input {
    padding: 5px;
    margin-right: 5px;
    border: none;
    outline: none;
     background-color: #f1f1f1;
   
    
}

.nav-icon {
    display: none;
}


@media screen and (max-width: 768px) {
    .nav-elements {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px;
        z-index: 1;
       
    }

    .nav-elements.active {
        display: flex;
    }

    .nav-item {
        margin: 5px 0;
        color: white;

    }

    .navbar-icons {
        display: none;
    }

    .nav-icon {
        display: block;
    }
    .search-input {
        display: none
    }

}